.header {
    background-color: blue;
    height: 50px;
}
.header ul {
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
}
.header ul li {
    float: left;
    margin-right: 20px;
}
.header ul li a{
    text-decoration: none;
    color: white;
}